{%extends "index.html"%}
{%block body%}
<div class="container">
    <div class="container">
        <!-- <a href="" class="btn btn-outline-danger">Logout</a> -->
        <h1 class="text-center alert alert-info m-2">Welcome,{{request.user.username}}
            <div class="container text-center">
            <a href="/logout" class="btn btn-outline-danger">Logout</a>    

            </div>
        </h1>
        
    </div>
    <div class="container ">
        <div class="row">
            <div class="col-sm-5">
             <h1 class="alert alert-success text-center">Student Data Submit</h1>
             <form action="" method="post">
              {%csrf_token%}
              {%for i in form%}
              {{i.label_tag}} {{i}}<br> {{i.errors}}
              {%endfor%}
              <div class="container text-center">
                  <button class="alert alert-success" style="width: 50%;">Submit</button>
                  <!-- <a href="" class="alert alert-success" style="width: 150px;">Submit</a> -->
              </div>
             </form>
            
            
            </div>
            <div class="col">
              <h1 class="alert alert-warning text-center">Student Details</h1>
              {%if data%}
              <table class="table table-hover mt-2">
                <thead>
                  <tr>
                    <th scope="col">id</th>
                    <th scope="col">Student_Name</th>
                    <th scope="col">roll_no</th>
                    <th scope="col">Class</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody>
                  {%for i in data%}
                  <tr>
                    <th scope="row">{{i.id}}</th>
                    <td>{{i.name}}</td>
                    <td>{{i.roll}}</td>
                    <td>{{i.class_name}}</td>
                    <td>
                        <a href="{% url 'update' i.id %}" class="btn btn-outline-success">Update</a>
                        <form action="{% url 'delete' i.id %}" method="post">
                          {% csrf_token %}
                          <input type="submit" value="Delete" class="btn btn-danger mt-2">
                            <!-- <button class="btn btn-danger btn-sm">Delete</button> -->
                      </form>
                    </td>
                  </tr>
                  {%endfor%}
                  
                </tbody>
              </table>
              {%else%}   
              <h2 class="alert alert-danger text-center">No Record Found</h2>
              {%endif%}
            </div>
          </div>
    </div>
</div>
{%endblock body%}